

$font-stack: 'Poppins', sans-serif;
$main-bg-color: hsl(0, 0%, 98%);
$main-heading: hsl(234, 12%, 34%);
$pg-text: hsl(229, 6%, 66%);

$red-card: hsl(0, 78%, 62%);
$cyan-card: hsl(180, 62%, 55%);
$orange-card: hsl(34, 97%, 64%);
$blue-card: hsl(212, 86%, 64%);